.contenedor--products {
    background-color: rgb(255, 255, 255);
    border: 2px solid black !important;
}

.section--products {
    display: flex;
    flex-direction: row;
    /* justify-content:  space-evenly; */
    background-color: #e3e3e3;
    border: 1px solid gray;
    margin: 15px;
    padding: 20px;
}

.container-product {
    border: 1px solid gray;
    width: 100%;
}

.product-options {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.product-options div {
    margin-inline: 15%;
}

.filter-section {
    display: flex;
    flex-direction: row;
}
