.body {
    background-color: white;
}

/* ************ PÁGINA INDEX PROVIDER ************ */


.contenedor--providers {
    display: flex;
    justify-content: left;
    /* margin-left: 5%; */
    margin-top: 20px;
    flex-wrap: wrap;
}

.providers-table-title th,
.providers-table-title td {
    text-align: center;
    border: 1px solid black;
    height: 80px;
}

.providers-separate td {
    padding: 5px;
    text-align: center;
}

.boton-clear {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px black;
    color: rgb(4, 4, 4);
}

.boton-clear:hover {
    color: rgb(85, 85, 83);
}

.button-list-off, .button-add-off {
    opacity: 0.8;
    box-shadow: inset 0px 39px 0px -24px #a1bbf0;
    background-color: #4cb5de;
}

.provider-boton-active {
    border: 4px solid #e2e1e8;
    box-shadow: inset 0px 39px 0px -24px #a1bbf0;
    background-color: #4cb5de;
}

.providers-index-center {
    text-align: center;
}

/* ************ PÁGINA CREATE PROVIDER ************ */

.contenedor-provider-create {
    background-color: rgba(255, 255, 255, 0.855);
    border: 2px solid black;
}

.create-header {
    display: flex;
    padding: 20px 0px 5px 20px;
}

.providers-create-space {
    margin-right: 20px;
}

.contenedor-create-form {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 19px;
}

.create-form-bloque {
    width: 40%;
    margin: 25px 50px 0px 50px;
}

.boton-create {
    width: 110px;
    border-radius: 15px !important;
    margin: 0px 10px;
}

.department-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}